<!-- <mat-expansion-panel *ngIf="categories">
  <mat-expansion-panel-header>
    <mat-panel-title> Filtrer</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let category of categories" [value]="category">
      <button (click)="onShowCategory(category)">{{category}}</button>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel> -->
<!-- <mat-expansion-panel *ngIf="categories">
  <mat-expansion-panel-header>
    <mat-panel-title> CATEGORIES </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let category of categories" [value]="category">
      <button (click)="onShowCategory(category)">{{ category }}</button>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel> -->

<label for="" class="my-1"> {{title}}:</label>
    <select class="form-control" (change)="detectChanges($event)" >
      <option value="all" selected >All</option>
      <option value="{{option}}" *ngFor="let option of data">{{option}} </option>
    </select>
