<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Product name</mat-label>
      <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Category</mat-label>
      <input formControlName="category" matInput placeholder="category">
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
      <mat-label>image</mat-label>
      <input formControlName="image" matInput placeholder="image">
    </mat-form-field> -->
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" placeholder="Status">
        <mat-option value="En stock">En stock</mat-option>
        <mat-option value="N'est pas en stock">N'est pas en stock</mat-option>
        <mat-option value="En moyenne quantité">En moyenne quantité</mat-option>
      </mat-select>
    </mat-form-field>


    <!-- <label for="image">Image :</label>
    <input type="file" formControlName="image"  (change)="onFileChange($event)" > -->






    <!-- <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
    <!-- <label for=""><h1>Product Freshness</h1></label>
    <mat-radio-group formControlName="freshness" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let fresh of freshnessList" [value]="fresh">
        {{fresh}}
      </mat-radio-button>
    </mat-radio-group> -->
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input formControlName="price" matInput type="number" placeholder="Price" min="1">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <input formControlName="quantity" matInput type="number" placeholder="quantity" min="1">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
<button mat-raised-button color="warn" mat-dialog-close >Close</button>
<button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()" >{{actionBtn}}</button>


</div>
