<mat-card class="max-w-7xl mx-auto" *ngIf="dataSource.length">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Product </th>
      <td mat-cell *matCellDef="let product">
        <img [src]="getPlatImageUrl(product.image)" class="img-fluid" alt="plat-img" width="200" height="200">
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button routerLink="/home">Continue shopping</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let product">
        <span class="truncate max-w-xs block">{{product.name}}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> price </th>
      <td mat-cell *matCellDef="let product">
        {{product.price | currency:'Dt '}}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> quantity </th>
      <td mat-cell *matCellDef="let product">
        <button (click)="onRemoveQuantity(product)" mat-icon-button>
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{product.quantity}}</span>
        <button (click)="onAddQuantity(product)" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> total </th>
      <td mat-cell *matCellDef="let product">
        {{product.quantity * product.price | currency:'Dt '}}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <span class="font-bold py-5 block">
          {{getTotal(cart.items) | currency:'Dt '}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-raised-button color="warn" class="float-right" (click)="onClearCart()"> Clear All</button>
      </th>
      <td mat-cell *matCellDef="let product">
        <button (click)="onRemoveFromCart(product)" mat-mini-fab color="warn" class="float-right" >
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button color="primary" class="float-right" (click)="checkOut()">
          Proceed To Checkout
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>
</mat-card>
<mat-card class="max-w-7xl mx-auto" *ngIf="!dataSource.length">
  <p>
    your Cart is empty
    <button mat-raised-button routerLink="/home">Start shopping</button>
  </p>
</mat-card>

